.overlay-bg {
  background-image: url("../assets/home-park.avif"), url("../assets/sky-bg.avif");
  background-repeat: no-repeat; /* Adjust as needed */
  background-position: center, center; /* Adjust positioning */
  background-size: cover, cover; /* Adjust sizing */
}

.font-heading {
  font-family: Rza,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.t-84 {
  line-height: 1;
  letter-spacing: -.06em;
  font-size: 1.71875rem;
}