body {
  font-size: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  font-family: Relative,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.55;
  letter-spacing: -.03em;
  --tw-text-opacity: 1;
  color: rgb(41 38 38/var(--tw-text-opacity));
}

.duration-300{
  transition-duration: .3s;
}

.fixed{
  position: fixed;
}

.transition-colors {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.font-medium {
  font-weight: 500;
}

.border-b {
  border-bottom-width: 1px;
}

.bg-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(41 38 38/var(--tw-bg-opacity));
}